@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lora|Darker+Grotesque&display=swap');

a, a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: 'Lora', serif;
  color: #575657;
  letter-spacing: 0;
}

h2 {
  font-family: 'Lora', serif;
  color: DarkSlateGray;
  line-height: 80%;
}

body {
  background-color: #f1f1f1;
}

p {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 26px;
}

figcaption {
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

table {
  width: 130%;
}

td {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 26px;
  vertical-align: top;

  .header {
    padding: 20px;
    text-align: center;
    background-color: #f1f1f1;
    margin: 10px 10px 0px 10px;
  }

  .header--type {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin: 30px;
  }

  .header--col {
    color: #ff9900;
    font-weight: bold;
  }

  .header__subtext {
    font-family: 'Inconsolata', monospace;
    font-size: 12px;
    color: #575657;
    letter-spacing: 0;
    line-height: 16px;
    text-transform: uppercase;
  }

  .date {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: 12px;
    color: black;
    letter-spacing: 0;
    line-height: 12px;
    text-transform: uppercase;
  }

  /* THIS SECTION IS FOR THE NAVIGATION MENU */
  .navigation {
    height: auto;
    border-radius: 10px;
    border: 1px dashed DarkSlateGray;
    position: fixed;
    background-color: #f1f1f1;
    width: 18%;
    margin-left: 10px;
    /* border-right: 1px solid DarkSlateGray; */
  }

  /* Change to hamburger menu */
  .navigation ul {
    list-style-type: none;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    line-height: 16px;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;
    background-color: #f1f1f1;
  }

  .navigation li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  .navigation li a:hover {
    background-color: #555;
    color: white;
  }

  .navigation li a.active {
    background-color: #4CAF50;
    color: white;
  }

  @media screen and (max-width: 800px) {
    .navigation ul {
      font-size: 16px;
      line-height: 19px;
      margin: 5px;
      padding: 5px;
    }

    .navigation li a {
      display: block;
      color: #000;
      padding: 4px 8px;
      text-decoration: none;
    }
  }

  @media screen and (max-width: 500px) {
    .navigation ul {
      font-size: 12px;
      line-height: 14px;
      margin: 3px;
      padding: 3px;
    }

    .navigation li a {
      display: block;
      color: #000;
      padding: 2px 4px;
      text-decoration: none;
    }
  }

  .articles {
    margin-left: 20%;
    list-style: none;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    background: none;
  }

  .article-entry {
    grid-column-start: 1;
    grid-column-end: span 2;
  }

  .articles li {
    /* border: 1px solid DarkSlateGray; */
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px;
  }