---
layout: header
---
<div class="menu">
  {{ title }}
  <!-- INDEX -->
  {% for post in site.posts %}
  <div class="blog-index">
    <div class="blog-index-image">
      <img src="{{ post.image }}" width="40px" alt="key image" class="blog-index-image">
    </div>
    <div class="blog-index-item">
      <a href="{{ post.url }}">
        <p class="blog-index-item" class="current">{{ post.title }}</p>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
<!-- CONTENT -->
<div class="text">
  {{ content }}
</div>