<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <a href="https://gotdairyya.github.io/">
    <div class="header">
      <h1>Hello World!</h1>
      <h1 class="header__subtext">This is Derya's personal website</h1>
    </div>
  </a>

  {% include navigation.html %}

  <ul class="articles">
    {% for post in site.posts %}
    <li><a href="{{ post.url }}" class="index">
        <img src="{{ post.image }}" width="{{ post.zoom }}" alt="key image" class="blog-image">
        <figcaption>{{ post.title }}</figcaption>
      </a>
    </li>
    {% endfor %}
  </ul>
</body>

</html>