<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <!-- <script src="https://d3js.org/d3.v5.js"></script> -->
  {% for js in page.customjs %}
  <script async type="text/javascript" src="{{ js }}"></script>
  {% endfor %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <a href="https://gotdairyya.github.io/">
    <div class="header">
      <h1>Hello World!</h1>
      <h1 class="header__subtext">This is Derya's personal website</h1>
    </div>
  </a>

  {% include navigation.html %}
  <ul class="articles">
    <div class="article-entry">
      <span>
        <h2>{{ page.title }}</h2>
        <h3 class="date">{{ page.date | date_to_string }}</h3>
      </span>
      <h3 class="header__subtext">{{ page.subtitle }}</h3>

      <p>{{ content }}</p>

    </div>
    <div id="example">
    </div>
  </ul>
</body>

</html>